# PYTHON-5. Общее знакомство с библиотекой Pandas

In [1]:
import pandas as pd

In [16]:
football = pd.read_csv('data_sf.csv')

In [20]:
football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [22]:
football.describe(include=['object'])

                Name Nationality              Club Position
count          12897       12897             12897    12897
unique         12326         156               650       27
top     J. Rodríguez     England  V-Varen Nagasaki       GK
freq               9        1368                30     1641

## 5.8 Извлекаем данные по условиям

Задание 1  
Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего? Ответ округлите до сотых.

In [55]:
speed = football[football.Wage > football.Wage.mean()].SprintSpeed.mean()
print(round(speed, 2))

67.57

Задание 2  
Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых ниже среднего? Ответ округлите до сотых.

In [58]:
speed = football[football.Wage < football.Wage.mean()].SprintSpeed.mean()
print(round(speed, 2))

62.41

Задание 3  
Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

In [61]:
football[football.Wage == football.Wage.max()].Position[0]

'RF'

Задание 4  
Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период, данные о котором представлены в датасете?

In [63]:
football[football.Nationality == 'Brazil'].Penalties.sum()

22789

Задание 5  
Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) &gt; 50. Ответ округлите до сотых.

In [66]:
age = football[football.HeadingAccuracy > 50].Age.mean()
print(round(age, 2))

25.59

Задание 6  
Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions) превышают 90% от максимального значения, представленного в датасете.

In [68]:
football[(football.Composure > 0.9*football.Composure.max()) 
         & (football.Reactions > 0.9*football.Reactions.max())].Age.min()

24

Задание 7  
Определите, насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) больше средней реакции самых молодых игроков. Ответ округлите до сотых.

In [69]:
reactions1 = football[football.Age == football.Age.max()].Reactions.mean()
reactions2 = football[football.Age == football.Age.min()].Reactions.mean()
print(round(reactions1 - reactions2, 2))

22.64

Задание 8  
Из какой страны (Nationality) происходит больше всего игроков, чья стоимость (Value) превышает среднее значение?

In [70]:
football[football.Wage > football.Wage.mean()].Nationality.describe()['top']

'Spain'

Задание 9  
Определите, во сколько раз средняя зарплата (Wage) голкипера (Position, GK) с максимальным значением показателя " Рефлексы" (GKReflexes) выше средней зарплаты голкипера с максимальным значением  показателя "Владение мячом" (GKHandling). Ответ округлите до сотых.

In [71]:
wage1 = football[(football.Position == 'GK') 
                 & (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
wage2 = football[(football.Position == 'GK') 
                 & (football.GKHandling == football.GKHandling.max())].Wage.mean()

print(round(wage1/wage2, 2))

2.77

Задание 10  
Определите, во сколько раз средняя сила удара (ShotPower) самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) выше средней силы удара игроков с минимальной агрессией. Ответ округлите до сотых.

In [72]:
sp1 = football[football.Aggression == football.Aggression.max()].ShotPower.mean()
sp2 = football[football.Aggression == football.Aggression.min()].ShotPower.mean()

print(round(sp1/sp2, 2))

2.08